
html{
    background-color: #313131;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #1d1d1d;
    width: 95vw;
    height: 80vh;
    margin-top: 10vh;

    margin: auto;
}

p{
    color: white;
    padding-top: 1em;
    padding-left: 1em;
}

a{
    background-color: #313131;
    color: #ffd000;
    padding: .5em;
}

a:visited{
    color: #bbff00;
}

a:hover{
    background-color: #494949;
}

h1{
    color: white;
    padding-left: .4em;
    padding-top: .4em;
}